@font-face {
    font-family: "Avenir";
    src: url("../font/Avenir.ttc");
    font-weight: normal;
}

@font-face {
    font-family: "AvenirBold";
    src: url("../font/AvenirNextLTPro-Demi.otf");
    font-weight: bold;
}

body,
html {
    font-family: "Avenir";
    width: 1920px;
    height: 1080px;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#main {
    height: 100%;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
    /*background: #131e23;*/
    background: linear-gradient(303deg, #101e2f, #120d20);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
    position: absolute;
}

#upperContent {
    height: 1080px;
    overflow: hidden;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
    position: absolute;
    text-align: center;
}

#container {
    height: 100px;
    width: 100px;
}

#mainimg {
    width: 1920px;
    height: auto;
}


/*--------------TIMELINE----------------*/

h1 {
    font-size: 25px;
    color: white;
    margin-top: 41px;
}

h2 {
    font-size: 35px;
    color: white;
    /* display: flex; */
    font-family: "AvenirBold";
    display: none;
    text-shadow: -1px 1px 10px #c6c6c6;
}

h3 {
    font-size: 20px;
    color: #c7c7c7;
    position: absolute;
    left: 20px;
    padding-top: 0px;
    display: none;
}

h4 {
    font-size: 33px;
    /* position: absolute; */
    font-family: "AvenirBold";
    left: 40%;
    top: 4px;
    height: 1px;
    position: absolute;
    text-shadow: 0px 0px 10px #ffffff;
    color: #fff;
    margin-top: 0%;
    z-index: 100;
}

h5 {
    position: absolute;
    top: 1020px;
    left: 40px;
    z-index: 200;
    /* text-align: center; */
    font-size: 30px;
    color: white;
    margin: 0 auto;
    text-shadow: 0px 1px 3px #000000
}

h6 {
    top: 250px;
    font-family: "AvenirBold";
    font-size: 135px;
    position: absolute;
    text-align: center;
    display: none;
    left: -1000px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 40px #000000;
    z-index: 200;
}

#h4future {
    color: #152f3d;
    padding-left: 50px;
}

#descshaddow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    box-shadow: 0px 1px 13px 5px rgb(35, 50, 57);
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 7px solid #a1bbbb;
    position: absolute;
    /* padding-left: 1%; */
    margin-left: -0.7%;
    /* align-items: center; */
    /* text-align: center; */
    display: inline-block;
    box-shadow: 0px 1px 13px 5px rgb(35, 50, 57);
    z-index: 11;
    top: 74px;
}

#dotfuture {
    /* box-shadow: 0px 1px 13px 5px rgba(116, 116, 116, 0.65);*/
}

#timeline {
    height: 95px;
    width: 100%;
    background-color: #000000ba;
    /*bottom: 0%;*/
    z-index: 10;
    top: 0px;
    position: absolute;
    border-top: 1px solid white;
    display: table;
    -webkit-box-shadow: 0px 10px 69px -14px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 10px 69px -14px rgba(255, 255, 255, 1);
    box-shadow: 0px 10px 69px -14px rgb(0, 0, 0);
    /* overflow: hidden;*/
}

#timelineshadow {
    height: 95px;
    width: 100%;
    /* bottom: 0%; */
    position: absolute;
    display: table;
    -webkit-box-shadow: inset -650px 0px 90px 0px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: inset -650px 0px 90px 0px rgba(255, 255, 255, 0.8);
    box-shadow: inset -650px 0px 90px 0px rgba(32, 32, 32, 0.8);
}

#timelineshadowdesc {
    height: 5px;
    left: 0px;
    /* width: 9%; */
    top: 1200px;
    position: absolute;
    /* display: table; */
    -webkit-box-shadow: 150px -48px 100px 130px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 150px -48px 100px 130px rgba(0, 0, 0, 0.58);
    box-shadow: 150px -48px 100px 130px rgba(0, 0, 0, 0.58)
}

#timelineshadowmap {
    height: 95px;
    bottom: 0px;
    right: 0px;
    /* width: 9%; */
    /* bottom: 0%; */
    position: absolute;
    display: table;
    -webkit-box-shadow: -60px 38px 200px 140px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: -60px 38px 200px 140px rgba(0, 0, 0, 0.69);
    box-shadow: -60px 38px 200px 140px rgba(0, 0, 0, 0.69);
}

#past {
    width: 1250px;
    display: inline-block;
}

#current {
    display: inline-block;
    width: 8%;
    top: 0%;
    height: 100%;
    text-align: center;
}

#currentborder {
    transform: rotate(20deg);
    border-left: 1px solid #ffffff;
    top: -3px;
    left: 1257px;
    height: 88px;
    position: absolute;
}

#pastborderdashed {
    height: 13px;
    bottom: 0px;
    left: 0%;
    width: 2%;
    /* left: 10%; */
    /* background: hsl(0, 0%, 100%); */
    position: absolute;
    z-index: 10;
    background-image: linear-gradient(to left, #ffffff21 1%, #848484b5 20%, #ffffff 35%, #ffffff 200%);
    box-shadow: -20px 1px 194px 20px rgba(255, 255, 255, 0.7);
    background-image: linear-gradient(to right, rgb(255, 255, 255) 23%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 8px 13px;
    background-repeat: repeat-x;
}

#pastborder {
    height: 13px;
    bottom: 0px;
    width: 98%;
    left: 2%;
    /* left: 10%; */
    /* background: hsl(0, 0%, 100%); */
    position: absolute;
    z-index: 10;
    background-image: linear-gradient(to left, #ffffff21 1%, #848484b5 20%, #ffffff 35%, #ffffff 200%);
    box-shadow: -20px 1px 194px 20px rgba(255, 255, 255, 0.7);
}

.container {
    width: 1250px;
    padding-left: 5%;
}

.content {
    display: inline-block;
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-align: center;
}

#future {
    display: inline-block;
    right: 0%;
    width: 5%;
    height: 100%;
    text-align: center;
}

#h1 {
    /*color: #152f3d;*/
}

#h2 {
    /* color: #152f3d;
    text-shadow: -1px 1px 10px #2f4652b3;*/
}

#h3 {
    color: #152f3d9e;
}

#beijing {
    text-shadow: -1px 1px 10px #ffffff;
}


/*
#airplane {
    background: url('../assets/airplane.png') repeat-x;
    background-size: auto 100%;
    position: absolute;
    top: 200px;
}
*/


/*--------------GLOBE----------------*/

#globe {
    position: absolute;
    right: 20px;
    z-index: 100;
    top: 200px;
}

.ball {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    left: 0;
    top: 0;
    border-radius: 0%;
    background-repeat: repeat-x;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    background-position: calc(100% - 20px) calc(100% - 10px);
    background-size: auto 100%;
    /*

        -webkit-animation: move-map 140s infinite linear;
    -moz-animation: move-map 140s infinite linear;
    -o-animation: move-map 140s infinite linear;
    -ms-animation: move-map 140s infinite linear;*/
}

.ball:before {
    content: "";
    position: relative;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    box-shadow: -40px 10px 100px 10px rgba(0, 0, 0, 0.32) inset;
    z-index: 2;
}

.ball:after {
    content: "";
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: -40px 10px 100px 10px rgba(0, 0, 0, 0.32) inset;
    z-index: 2;
}

#ballshadow {
    content: "";
    position: absolute;
    border: 1px solid #8080807d;
    border-radius: 50%;
    width: 260px;
    height: 250px;
    left: 0px;
    -webkit-filter: blur(0);
    opacity: 0.3;
    display: none;
    background: radial-gradient(circle at 50% 80%, #b3b3b300, #b3b3b300 10%, #00000073 66%, #000000 100%);
}

.ball .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateX(90deg) translateZ(-150px);
    -moz-transform: rotateX(90deg) translateZ(-150px);
    -ms-transform: rotateX(90deg) translateZ(-150px);
    -o-transform: rotateX(90deg) translateZ(-150px);
    transform: rotateX(90deg) translateZ(-150px);
    z-index: -1;
}

.stage {
    width: 1200px;
    height: 700px;
    border-radius: 0%;
    display: inline-block;
    margin: 20px;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}


/*--------------FLAG-----------------*/

#dot1world {
    display: none;
    border: 7px solid #001f649e;
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
    left: -40px;
    border: 1px solid #ffffff2b;
    top: 72px;
    position: absolute;
    display: inline-block;
    /* align-items: center; */
    /* text-align: center; */
    box-shadow: 0px 40px 40px 30px rgba(0, 0, 0, 0.406);
    z-index: 100;
    background-image: url(../assets/china.png);
    background-repeat: repeat-x;
    background-size: auto 130%;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: move-map 40s infinite linear;
    -moz-animation: move-map 40s infinite linear;
    -o-animation: move-map 40s infinite linear;
    -ms-animation: move-map 40s infinite linear;
    animation: move-map 40s infinite linear;
}


/*--------------FLAG-ANIMATION----------------*/

@-moz-keyframes move-map {
    0% {
        background-position: -849px -10px;
    }
    100% {
        background-position: calc(-500%) -10px;
    }
}

@-webkit-keyframes move-map {
    0% {
        background-position: -849px -10px;
    }
    100% {
        background-position: calc(-500%) -10px;
    }
}

@-o-keyframes move-map {
    0% {
        background-position: -849px -10px;
    }
    100% {
        background-position: calc(-500%) -10px;
    }
}

@-ms-keyframes move-map {
    0% {
        background-position: -849px -10px;
    }
    100% {
        background-position: calc(-500%) -10px;
    }
}

@keyframes move-map {
    0% {
        background-position: -849px -10px;
    }
    100% {
        background-position: calc(-500%) -10px;
    }
}


/*--------------GLOBE-ANIMATION----------------*/

@-moz-keyframes move-map-globe {
    0% {
        background-position: calc(100% - 20px) calc(100% - 10px);
    }
    100% {
        background-position: calc(-500%) calc(100% - 10px);
    }
}

@-webkit-keyframes move-map-globe {
    0% {
        background-position: calc(-500%) calc(100% - 10px);
    }
    100% {
        background-position: calc(100% - 20px) calc(100% - 10px);
    }
}

@-o-keyframes move-map-globe {
    0% {
        background-position: calc(100% - 20px) calc(100% - 10px);
    }
    100% {
        background-position: calc(-500%) calc(100% - 10px);
    }
}

@-ms-keyframes move-map-globe {
    0% {
        background-position: calc(100% - 20px) calc(100% - 10px);
    }
    100% {
        background-position: calc(-500%) calc(100% - 10px);
    }
}

@keyframes move-map-globe {
    0% {
        background-position: calc(100% - 20px) calc(100% - 10px);
    }
    100% {
        background-position: -1000px calc(100% - 10px);
    }
}


/*--------------PAPER-PLANE----------------*/

#send {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 550px;
    left: -800px;
    z-index: 220;
    background-image: url('../assets/send.png');
    background-size: auto 100%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#stream {
    opacity: 0;
    background-color: rgba(#333, 0.3);
    border-radius: 5px;
    height: 80px;
    width: 5px;
    animation: trail 2s linear infinite;
    position: relative;
}


/*--------------PLANE-ANIMATION----------------*/

@keyframes trail {
    0% {
        top: -80px;
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        top: 30px;
        opacity: 0;
    }
}

@keyframes rot {
    from {
        transform: rotate(360deg) translate(-150px) rotate(-360deg);
    }
    to {
        transform: rotate(0deg) translate(-150px) rotate(0deg);
    }
}


/*--------------BACKGROUND-ANIMATION----------------*/

@-webkit-keyframes AnimationName {
    0% {
        background-position: 28% 0%
    }
    50% {
        background-position: 73% 100%
    }
    100% {
        background-position: 28% 0%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 28% 0%
    }
    50% {
        background-position: 73% 100%
    }
    100% {
        background-position: 28% 0%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 28% 0%
    }
    50% {
        background-position: 73% 100%
    }
    100% {
        background-position: 28% 0%
    }
}